body {
  margin: 0;
  font-family: 'Hind', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --backgroundColor: white;
  --foregroundColor: #FFE8D1;
  --primaryTextColor: #826251;
  --secondaryTextColor: #568EA3;
}

[data-theme="dark"]{
  --backgroundColor: #1E1E24; 
  --foregroundColor: #826251;
  --primaryTextColor: #FBFFF1;
  --secondaryTextColor: #68C3D4;
}