.body{
    background-color: black;
    color: white;
}
.welcome-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-bottom: 20px;
}
.welcome-message{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}